* {
  box-sizing: border-box;
}

html {
  height: 40px;
}

body {
  min-width: 400px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

form {
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
}

button:hover {
  background: #ccc;
}

input[type=text] {
  width: 93%;
  height: 25px;
  border: none;
  background: #eee;
}

p,
li,
input[type=text] {
  font-size: 1rem;
}

h1 {
  margin-bottom: 2px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
  margin-top: 1px;
}

.column-container {
  display: flex;
}

.left-column {
  width: 70%;
  padding-right: 5px;
}

.right-column {
  width: 30%;
  padding-left: 5px;
}

.right-column p {
  margin-top: 5px;
}
