* {
  box-sizing: border-box;
}

body {
  width: 400px;
}

button {
  cursor: pointer;
  border: none;
  float: right;
  width: 8%;
  height: 25px;
}

button:hover {
  background: #ccc;
}

input[type=text] {
  width: 92%;
  height: 25px;
  border: none;
  background: #eee;
}

p,
input[type=text] {
  font-size: 1rem;
}

h1 {
  margin-bottom: 2px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
  margin-top: 1px;
}

.column-container {
  display: flex;
}

.left-column {
  width: 70%;
  padding-right: 5px;
}

.right-column {
  width: 30%;
  padding-left: 5px;
}

.right-column p {
  margin-top: 5px;
}
